.editor-container {
    flex: 1;
    display: flex;
}

.editor-container>.radar-view {
    min-width: 20px;
}

.editor {
    flex: 1;
    border-top: 1px solid cyan;
    height: 600px;
}

.radar-view {
    min-width: 20px;
}